[Desktop Entry]
Name=Reright
Comment=Rewrite text snippets directly on your desktop without alt-tabbing to ChatGPT
Exec=reright
Icon=reright
Terminal=false
Type=Application
Categories=Utility;TextTools;
StartupWMClass=Reright

